/* Generals */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.marTop05rem{
    margin-top: 0.5rem;
}

.marLef05rem{
    margin-left: 0.5rem;
}

#cardsContainer{
    padding: 3rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    background-color: rgba(255,213,0,255);
}

.card{
    width: calc((100% - 6rem) / 3);
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.generalInfoContainer > img {
    height: 2rem;
    width: 2rem;
}

.generalInfoContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card > img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    display: block;
}

.card > table {
    width: 100%;
}

.card > table th {
    text-align: left;
}

.listPrice{
    text-decoration: line-through;
    font-size: 0.9rem;
}